<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Book View | {{ book_title }} by {{ book_author }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>

<ul id="user_section" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/user_prefs">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<ul id="add_section" class="dropdown-content">
    <li><a href="/submit">Book</a></li>
    <li><a href="/add_sub">Subject</a></li>
    <li><a href="/add_auth">Author</a></li>
</ul>

<nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Books</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="add_section"><i class="material-icons">add</i></a>
            </li>
            <li><a href="/search"><i class="material-icons">search</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="user_section">{{ user_fullname }}<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="section">
        <object data="{{ book_url }}#page=1&zoom=100" width="100%" height="750px"></object>
    </div>
    <br><br>

    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{ book_title }}</span>
                        <p>Book Author : {{ book_author }}<br>
                            Book Edition : {{ book_edition }}<br>
                            Subject : {{ book_subject }}<br>
                            Document Type : {{ type }}
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="{{ book_url }}" download>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">A Document Management System designed to sort the documents on the
                    basis of key characteristics of books.</p>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-grey-text text-lighten-3" href="http://achandratre.me">Aniruddh Chandratre</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>
</html>
