<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Books | Sort: By Subject</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>

<ul id="user_section" class="dropdown-content">
    <li><a href="/profile/{{ user }}">Profile</a></li>
    <li><a href="/preferences">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<ul id="add_section" class="dropdown-content">
    <li><a href="/submit">Book</a></li>
    <li><a href="/add_sub">Subject</a></li>
    <li><a href="/add_auth">Author</a></li>
</ul>
<ul id="typesort_section" class="dropdown-content">
    <li><a href="/bytype/0">Book</a></li>
    <li><a href="/bytype/1">Journal Paper</a></li>
    <li><a href="/bytype/2">Presentation</a></li>
    <li><a href="/bytype/3">Synopsis</a></li>
</ul>
<ul id="authsort_section" class="dropdown-content">
    {% for x in authjinja %}
        <li><a href="/byauth/{{ authors_dropdown[x] }}">{{ authors_dropdown[x] }}</a></li>
    {% endfor %}
</ul>
<ul id="subsort_section" class="dropdown-content">
    {% for x in subjinja %}
        <li><a href="/bysub/{{ x }}">{{ subjects_dropdown[x] }}</a></li>
    {% endfor %}
</ul>
<nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Books</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="add_section"><i class="material-icons left">add</i>Add</a>
            </li>
            <li><a href="/search"><i class="material-icons left">search</i>Search</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="authsort_section">Sort: By Author</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="subsort_section">Sort: By Subject</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="typesort_section">Sort: By Type</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="user_section"><i class="material-icons left">account_circle</i>{{ user_fullname }}<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text">Books</h1>
        <div class="row">
            <div class="col s12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    {% for x in booklist %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">code</i>{{ book_title[x] }}
                                by {{ book_author[x] }}</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s6 left">
                                        <p>Book Author : {{ book_author[x] }}<br>Book Edition
                                            : {{ book_edition[x] }}<br>Subject
                                            : {{ book_subject[x] }} <br> <a href="{{ document_url[x] }}">More info</a>
                                        </p>
                                    </div>
                                    {% if user_type == "admin" %}
                                        <div class="col s1 right">
                                        <div class="row">

                                            <a class="btn-floating btn-large waves-effect waves-light blue_grey"
                                               href="#delete_document_{{ x }}"><i
                                                    class="material-icons">delete_forever</i></a>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br><br>

    </div>
</div>
{% if user_type == "admin" %}
    {% for x in booklist %}
        <div id="delete_document_{{ x }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure?</h4>
                <p>This action is irreversible!</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="{{ delete_url[x] }}"
                   class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="section">

    </div>
    <br><br>

    <div class="section">
    </div>
</div>

<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">A Document Management System designed to sort the documents on the
                    basis of key characteristics of books.</p>
        </div>
            <div class="col s6">
                <p class="grey-text text-light-4">About {{ total_queries }} results ({{ time_taken }})</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-grey-text text-lighten-3" href="http://achandratre.me">Aniruddh Chandratre</a>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>
</html>
